<div
  class="flex flex-col justify-between h-[91%] p-2 text-gray-200 space-x-2 border-2 border-gray-700 rounded-xl border-r-0 border-l-0 border-b-0 space-y-5"
>
  <div class="flex flex-col items-center space-y-2">
    <img
      src="https://lh3.googleusercontent.com/a/ACg8ocIo0mt_RvFUyeuzHMWuBqNSHJ1iVMNkoWSDvK0e4orvOSyAk5w=s288-c-no"
      alt=""
      class="m-2 rounded-full"
    />
    <h1 class="text-4xl font-bold text-gray-700">About Me</h1>
    <span class="text-lg font-medium mx-2"
      >Hello! I'm a passionate and dedicated developer specializing in front-end
      development with a keen interest in creating visually appealing and
      user-friendly interfaces. My journey into the world of coding began with
      HTML and CSS, and over the years, I've expanded my skill set to include a
      variety of modern frameworks and technologies.</span
    >
  </div>
  <div class="flex flex-col items-center space-y-2">
    <h1 class="text-4xl font-bold text-gray-700">About Project</h1>
    <span class="text-lg font-medium mx-2">
      NiggaFlix is a web application that aims to provide a comprehensive and
      engaging platform for users to discover, watch trailers, Extras,
      Featurettes, etc and get information about movies and TV shows.
    </span>
    <span class="text-lg font-medium mx-2">
      I used TMDB to fetch information, Tailwind to design and a little bit of
      ChatGPT.
    </span>
  </div>
  <span class="text-xl font-medium mx-2"
    >Well this is just a simple web app which fetch information from TMDB and
    displays it. Also I designed the watch page to look more lke YT I don't know
    I succeeded or not but It is what It is...
  </span>
  <div class="flex flex-col items-center space-y-2">
    <h1 class="text-4xl font-bold text-gray-700">Connect</h1>

    <ul class="text-xl space-x-10 flex flex-row justify-center items-center">
      <li class="text-[#0a66c2]">
        <a href="https://www.linkedin.com/in/akashkumar0/">
          <img src="../../../assets/In.png" alt="" />
        </a>
      </li>
      <li class="text-[#fafbfc]">
        <a href="https://github.com/therealakash13">
          <img src="../../../assets/gt.png" alt="" class="h-[3.2rem]" />
        </a>
      </li>
      <li>
        <a href="https://x.com/therealakash13">
          <img src="../../../assets/logo-white.png" alt="" class="h-[3.2rem]" />
        </a>
      </li>
    </ul>
  </div>
</div>
