<section class="h-screen w-screen bg-black absolute">
  <img
    class="size-full filter brightness-50"
    src="../../../assets/banner1.jpg"
    alt="login banner"
  />
</section>
<div
  class="relative h-screen w-screen flex flex-col justify-center items-center gap-y-10"
>
  <span
    class="text-white font-extrabold sm:m-5 lg:m-7 sm:text-2xl lg:text-3xl bg-slate-600 rounded-full px-5 py-3 bg-opacity-80"
  >
    Unlimited movies, TV shows and more
  </span>

  <span
    class="text-white font-semibold sm:text-xl lg:text-2xl bg-slate-600 rounded-full px-5 py-3 bg-opacity-80"
  >
    Ready to NI**AFLIX? Login with your Google account and Chill
  </span>

  <div class="sm:m-4 lg:m-6">
    <div id="google-btn"></div>
  </div>
</div>
