<div class="w-[100%] h-[91%]">
  <div class="w-[100%] h-[100%] p-4">
    <div class="w-[100%] h-[95%] p-2 overflow-y-auto overflow-x-hidden">
      <div class="mx-auto">
        <app-grid [movies]="movieData"></app-grid>
      </div>
    </div>
    <div
      class="h-[5%] flex flex-row justify-between items-center mt-3 mx-3 outline-white"
    >
      <button
        [ngStyle]="{ visibility: page > 1 ? 'visible' : 'hidden' }"
        (click)="previousPage()"
        class="text-white text-2xl rounded-xl hover:opacity-80 bg-gray-700 px-4 py-2"
      >
        &laquo; Previous
      </button>
      <span class="text-white text-lg">{{ page }}</span>
      <button
        (click)="nextPage()"
        class="text-white text-2xl rounded-xl hover:opacity-80 bg-gray-700 px-4 py-2"
      >
        Next &raquo;
      </button>
    </div>
  </div>
</div>
